/*
Základní syntaxe  CSS

selector {
    vlastnost-1; hodnota;
    vlastnost-2; hodnota;
    vlastnost-3; hodnota;
    vlastnost-4; hodnota;
    vlastnost-5; hodnota;
    ...
    vlastnost-n; hodnota;
    }
*/


body {
    background-color: rgb(247, 247, 247);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 36px;
    margin: unset;
}

h1, h2 {
    color: brown;
}


p {
    font-family: 'Times New Roman', Times, serif;

    /* velikost písma */
    font-size: 18px;
}

header, footer {
    background-color: rgb(104, 100, 199);

    /* 1rem většinou 16px */
    /* padding: 0.5rem; */
    padding: 0.5rem 1rem;
    /* padding: 0.5rem; 1rem; 2rem */

}

footer p {
    margin: unset;
}

.page-wrapper {
    width: 90%;

    /* zarovnání na střed */
    margin: 0 auto; 
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 0;
}

nav li {
/* flex-grow: 1;*/
/* flex-shrink: 1; */
/* flex-basis: 100px; */

/* to samé jako předchozí 3 vlastnosti */
flex: 1 1 100px;

}


nav a {
    display: block;
    background-color: #35b0fc;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 10px;
    white-space: nowrap;
}

.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */ /* rozdělení do sloupců */
    /* grid-template-columns: 2fr 4fr; */ /* velikost sloupců */
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem; /* mezera */
}


.card {
    background-color: #e3e3e3;
    padding: 1rem; /* aby text nebyl nalepený na rámečku */
    /* margin-top: 1rem; */
    border-radius: 20px 40px; /* zaoblenost */
    border: 1px solid orange; /* ohraničení */
}